@import "lib/reset";
@import "lib/variables";
@import "lib/mixin";

body {
  background: #000000;
  font-family: sans-serif;
  margin-right: 25%;
  margin-left: 25%;
  border: 1px solid white;
}

.demo-btn {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.divider{
  margin: 1em;
  border-top: 1px solid;
}

%btn {
  margin: 5px;
  text-align: center;
  display: block;
  border-radius: 5px;
  text-decoration: none;
  padding:10px;
  width: 100px;
  min-width:100px;
  border: none;
  &:disabled{
    background-color: grey;
  }
}

.btn-danger{
  @extend %btn;
  @include btn-color($danger);
}
.btn-primary{
  @extend %btn;
  @include btn-color($primary);
}

.btn-success{
  @extend %btn;
  @include btn-color($success);
}

.btn-secondary{
  @extend %btn;
  @include btn-color($secondary);
}

.btn-info{
  @extend %btn;
  @include btn-color($info);
}

.btn-help{
  @extend %btn;
  @include btn-color($help);
}

.btn-warning{
  @extend %btn;
  @include btn-color($warning);
}

.btn-rounded {
  border-radius: 20px;
}

.btn-outlined {
  background-color: transparent;
  border: 1px solid;
}
